# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - Web Scraping
 - Regression
 - Machine Learning

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|:------------------:|
|  Apache Spark      |
|  TensorFlow        |  
|  Apache Hadoop     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
hour = 60
minutes = 200
result = minutes/hour
print(result)

3.3333333333333335

## Author
Nguyen Huy Anh